/* Form Heading  */
.formheading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}
/* Input Fields Email and Password  */
.inputfield {
  font-size: 15px;
  padding: 10px 10px;
  min-width: 360px;
  border-radius: 5px;
  border: 2px solid #31e1f7;
  margin-bottom: 10px;
  text-align: start;
  font-weight: 600;
}

/* Button For SignUp / Sign In */
.button {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 0px;
  width: 360px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #31e1f7;
}

.button:hover {
  opacity: 0.7;
}

/* Blank div  */
.child-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-child-left {
  background-color: #31e1f7;
  width: 50%;
  height: 620px;
}
.sub-child-right {
  background-color: white;
  height: 620px;
  width: 50%;
}

/* this is for form start */
.form-parent-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-child-left {
  background-color: #31e1f7;
  padding-top: 110px;
  height: 500px;
  width: 450px;
  color: rgb(255, 255, 255);
}
.form-child-right {
  padding-top: 110px;
  height: 500px;
  width: 450px;
}
.form-child-left > h2{
  color: black;
  margin-bottom: 20px;
}
.form-child-left > p {
  width: 290px;
  margin: auto;
  color: black;
}
/* this is for form finish */
.have-account {
  margin: 10px;
  text-align: center;
}
.linkforsignin {
  text-decoration: none;
  color: #31e1f7;
  margin-left: 5px;
}

/* for tablet  */
@media only screen and (max-width: 1023px) {
  /* Form Heading  */
.formheading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}
/* Input Fields Email and Password  */
.inputfield {
  font-size: 15px;
  padding: 10px 10px;
  min-width: 250px;
  border-radius: 5px;
  border: 2px solid #31e1f7;
  margin-bottom: 10px;
  text-align: start;
  font-weight: 600;
}

/* Button For SignUp / Sign In */
.button {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 0px;
  width: 250px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #31e1f7;
}

.button:hover {
  opacity: 0.7;
}

/* Blank div  */
.child-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-child-left {
  background-color: #31e1f7;
  width: 50%;
  height: 620px;
}
.sub-child-right {
  background-color: white;
  height: 620px;
  width: 50%;
}

/* this is for form start */
.form-parent-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-child-left {
  background-color: #31e1f7;
  padding-top: 110px;
  height: 500px;
  width: 350px;
  color: white;
}
.form-child-right {
  padding-top: 110px;
  height: 500px;
  width: 350px;
}
.form-child-left > p {
  width: 290px;
  margin: auto;
}
/* this is for form finish */
.have-account {
  margin: 10px;
  text-align: center;
}
.linkforsignin {
  text-decoration: none;
  color: #31e1f7;
  margin-left: 5px;
}
}
@media only screen and (max-width: 768px) {
  /* Form Heading  */
.formheading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}
/* Input Fields Email and Password  */
.inputfield {
  font-size: 15px;
  padding: 10px 10px;
  min-width: 200px;
  border-radius: 5px;
  border: 2px solid white;
  margin-bottom: 10px;
  color: white;
  background-color:  #31e1f7;
  text-align: start;
  font-weight: 600;
}
.inputfield::placeholder{
  color: white;
}

/* Button For SignUp / Sign In */
.button {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 0px;
  width: 205.6px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #31e1f7;
  background-color: white;
}

.button:hover {
  opacity: 0.7;
}

/* Blank div  */
.child-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-child-left {
  background-color:  #31e1f7;
  width: 50%;
  height: 620px;
}
.sub-child-right {
  background-color: white;
  height: 620px;
  width: 50%;
}

/* this is for form start */
.form-parent-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-child-left {
  background-color: #31e1f7;
  padding-top: 110px;
  display: none;
  height: 500px;
  width: 400px;
  color: white;
}
.form-child-right {
  background-color: #31e1f7;
  padding-top: 110px;
  height: 500px;
  width: 400px;
}
.form-child-left > p {
  width: 290px;
  margin: auto;
}
/* this is for form finish */
.have-account {
  margin: 10px;
  text-align: center;
}
.linkforsignin {
  text-decoration: none;
  color: white;
  margin-left: 5px;
}

}