.note-container {
  display: inline-block;
  padding: 10px;
}
.add-notes{
  background-color: #1f1f1f;
  margin: 10px;
  width: 280px;
  min-height: 15rem;
  border-radius: 5px;
  color: rgb(167, 167, 167);
  display: inline-block;
  position: absolute;
}
.addN{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.add{
  font-size: 25px;
}

.cir{
  margin: 50px auto 10px;
  width:100px;
  height:100px;
  border-radius: 50px;
  border: 2px dashed;
  cursor: pointer;
}
.cir:hover{
color:#31e1f7;
}
.plus{
  font-size: 65px;
}
