@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
.notes-card {
  background-color: #1f1f1f;
  margin:10px;
  width: 280px;
  min-height: 15rem;
  padding: 0px 10px;
  border-radius: 5px;
  color: #282c34;
  display: inline-block;
  box-shadow: 0 0px 5px 2px rgba(102, 102, 102, 0.25);
}
.note-title-div {
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.note-title{
  font-size: 20px;
  color: rgb(167, 167, 167);
  text-align: justify;
  width: 350px;
}
.date{
  text-align: start;
  font-size: 18px;
  font-weight: 600;
  color: gray;
  margin: 10px 0px 0px 0px ; 
}
.dot{
  background-color: #31e1f7;
  height: 10px;
  width: 12px;
  margin-right: 5px;
  border-radius: 100px;
}
.note-date {
  background-color:  #cce1ff;
  border: 2px solid #4a96ff;
  display: inline;
  border-radius: 10px;
  padding: 2px 5px;
}
.username {
  background-color:  #cce1ff;
  border: 2px solid #4a96ff;
  display: inline;
  border-radius: 10px;
  padding: 2px 5px;
}
.note-date-div{
  margin: 10px;
  display: flex;
  justify-content: flex-end
}
.note-description {
  color: rgb(167, 167, 167);
  overflow:hidden;
  margin: 5px 0px;
  text-align: justify;
}
/* hr {
  margin: 5px 0px;
  width: 100%;
  height: 0.5px;
  border-width: 0;
  background-color:  #6F38C5;
} */

/* .crud-icons-div:hover {
  margin: 10px 0px;
  display: flex;
  float:start;
} */

.more-content{
  color:#0a93a5;
  font-weight: bold;
  cursor: pointer;
}
.more-content-hide{
  color:#0a93a5;
  /* cursor: pointer; */
  display: none;
}
