

* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: "Menlo", "Meslo LG", monospace; */
  box-sizing: border-box;
  text-align: center;
}
body {
  /* background-image: url("https://images.pexels.com/photos/10526919/pexels-photo-10526919.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background: #1f1f1f;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background-color: #cce1ff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #4a96ff;
  border-radius: 10px;
  background-clip: content-box;
  border: 3px solid transparent;
}
